<h1>Welcome to your cupboard, <%= @user.username %>!</h1>

<a href="/search_cupboard">
  Search the cupboard:</a>

<br>
<br>
Full cupboard list:
<% @items.each do |item| %>
  <p><a href="/tweets/<%= item.id %>"><%= item.content %></a></p>
<% end %>
