<h1>Welcome to your cupboard, <%= @user.username %>!</h1>

<h2> What would you like to do?</h2>
<a href="/search_cupboard">
  Search cupboard</a>
<br>
<br>
<a href="/new">
    Add items</a>

<br>
<br>
<h3>Full cupboard list:</h3>
<% @items.each do |item| %>
  <p><a href="/tweets/<%= item.id %>"><%= item.content %></a></p>
<% end %>
